@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap");
$grey: rgb(215, 215, 215);

.main {
  height: 30vw;
  background-color: $grey;
  align-items: center;
  box-shadow: 0px 0px 5px 2px rgb(148, 148, 148);
  position: relative;
  top: -10rem;
  z-index: 2;

  @media (max-width: 600px) {
    top: -5vw;
    height: 65vw;
  }

  @media (max-width: 350px) {
    top: -17.4px;
    height: 228px;
    width: 334px;
  }
}

.title {
  text-align: center;
  padding-top: 4vw;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(92, 92, 92);
  font-size: 2vw;

  @media (max-width: 600px) {
    font-size: 3vw;
    padding-top: 5vw;
  }

  @media (max-width: 350px) {
    font-size: 10.5px;
    padding-top: 15px;
  }
}

.CapitalWord {
  color: black;
}

.VidSlider {
  width: 90%;
  position: absolute;
  right: 5%;
  z-index: 2;
  margin-top: 1vw;
  @media (min-width: 600px) and (max-height: 600px) {
    display: none;
  }
}

.video {
  padding-left: 5px;
  border-radius: 10px;
}

.VidSliderMobile {
  display: none;

  @media (max-width: 600px) {
    display: block;
    width: 80%;
    position: absolute;
    top: 16vw;
    z-index: 2;
    right: 10vw;
  }

  @media (max-width: 350px) {
    right: 32px;
    top: 55px;
  }
}

.mobileVideo {
  width: 100%;
  border-radius: 10px;
  padding-left: 5px;
}

.horizontalMobileSlider {
  display: none;
  @media (min-width: 600px) and (max-height: 600px) {
    display: block;
    width: 90%;
    position: absolute;
    right: 5%;
    z-index: 2;
    margin-top: 1vw;
  }
}

.arrow {
  width: 100px;
  position: relative;
  margin-top: -20px;
  background-color: $grey;
}

@media (max-width: 600px) {
  .VidSlider {
    display: none;
  }
}
