@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap");
$semiwhite: rgb(241, 241, 241);

.main {
  background-attachment: fixed;
  background-size: 100%;
  height: 105vw;
  background-repeat: no-repeat;
  position: relative;
  @media (max-width: 600px) {
    height: 220vw;
  }
  @media (max-width: 350px) {
    height: 770px;
  }
}

.backgroundImage {
  position: absolute;
  z-index: 2;
  margin: 8% 28%;
  @media (max-width: 600px) {
    margin: 30% 10%;
  }
  @media (max-width: 350px) {
    margin: 101px 34px;
    width: 265px;
  }
}

.designerAndFilmaker {
  font-size: 4vw;
  color: rgb(75, 75, 75);
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  right: 50%;
  bottom: 27vw;
  user-select: none;
  white-space: nowrap;

  @media (max-width: 600px) {
    bottom: 0;
    margin-top: -10px;
    font-size: 8vw;
    right: 10vw;
  }
  @media (max-width: 350px) {
    right: 40px;
    font-size: 28px;
  }
}

.carrouselSlider {
  width: 20%;
  position: absolute;
  right: 40%;
  z-index: 2;
  margin-top: 24%;

  @media (max-width: 600px) {
    width: 60%;
    right: 20%;
    margin-top: 15%;
    min-width: 200px;
  }
  @media (max-width: 350px) {
    right: 50px;
    margin-top: 53px;
    left: 70px;
  }
}

.AppsThatIUse {
  font-size: 2vw;
  color: rgb(70, 70, 70);
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  user-select: none;
  white-space: nowrap;
  margin-top: 20%;

  @media (max-width: 600px) {
    font-size: 6vw;
    white-space: nowrap;
    margin-top: 60vw;
  }
  @media (max-width: 350px) {
    font-size: 20.2px;
    margin-top: 210px;
  }
}

.arrow {
  width: 100px;
  position: relative;
  margin-top: -20px;
  background-color: white;
}
