@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap");
$grey: rgb(215, 215, 215);

.main {
  height: 30vw;
  background-color: $grey;
  align-items: center;
  box-shadow: 0px 0px 5px 2px rgb(148, 148, 148);
  position: relative;
  top: -20vw;



  @media (max-width: 600px) {
    top: -5vw;
    height: 65vw;
  }

  @media (max-width: 350px) {
    top: -18px;
    height: 227px;
  }
}

.title {
  text-align: center;
  padding-top: 4vw;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2vw;
  color: rgb(83, 83, 83);

  @media (max-width: 600px) {
    font-size: 3vw;
    padding-top: 15px;
  }

  @media (max-width: 350px) {
    font-size: 10.4px;
    padding-top: 15px;
  }
}

.projectsSlider {
  display: block;
  width: 90%;
  margin-top: 4vw;
  margin-left: 4vw;

  @media (max-width: 600px) {
    display: none;
  }
}

.projectsSliderMobile {
  display: none;

  @media (max-width: 600px) {
    display: inline;
    width: 85%;
    position: absolute;
    top: 12vw;
    z-index: 2;
    right: 7vw;
  }

  @media (max-width: 350px) {
    width: 283px;
    top: 42px;
    right: 25px;
  }
}

.arrow {
  width: 100px;
  position: relative;
  margin-top: -20px;
  background-color: $grey;
}

.projPreview {
  padding-left: 25px;
}

.mobileProjPreview {
  padding-left: 5px;
}

.EveryProject {
  border-radius: 10px;
}





@media (max-width: 600px) {
  .projects {
    display: none;
  }
}