@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap");

.main {
  // background-image: url("/wallpaperComplete.webp");
  background-size: 100%;
  height: 70vw;
  position: relative;
  mask-repeat: repeat;
  background-color: rgb(255, 255, 255);
  @media (max-width: 350px) {
    width: 332px;
  }
}

.fullStackDev {
  font-size: 4vw;
  color: rgb(0, 0, 0);
  position: relative;
  font-family: "Source Sans Pro", sans-serif;
  margin-top: 40px;
  right: 30%;
  bottom: 25vw;
  user-select: none;
  white-space: nowrap;

  @media (max-width: 700px) and (min-width: 600px) {
    bottom: 20vw;
  }
  @media (max-width: 600px) {
    bottom: 0;
    padding-top: 0px;
    font-size: 8vw;
    right: 1vw;
  }
  @media (max-width: 350px) {
    font-size: 30px;
    width: 280px;
    right: 20px;
  }
}

.carrouselSlider {
  width: 20%;
  position: absolute;
  right: 40%;
  z-index: 2;
  margin-top: 24%;

  @media (max-width: 800px) and (min-width: 700px) {
    margin-top: 22%;
  }
  @media (max-width: 700px) and (min-width: 600px) {
    margin-top: 16%;
  }

  @media (max-width: 600px) {
    width: 60%;
    right: 20%;
    margin-top: 15%;
  }

  @media (max-width: 350px) {
    width: 200px;
    right: 66px;
    margin-top: 50px;
  }
}

.AppsThatIUse {
  font-size: 2vw;
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: "Roboto Slab", serif;
  font-weight: 200;
  user-select: none;
  white-space: nowrap;

  @media (max-width: 600px) {
    font-size: 6vw;
    white-space: nowrap;
    margin-top: 50vw;
    margin-left: -10px;
  }

  @media (max-width: 350px) {
    font-size: 21px;
    margin-top: 175px;
  }
}

.arrow {
  width: 100px;
  position: relative;
  margin-top: -20px;
  background-color: white;
}

@media (max-width: 600px) {
  .main {
    height: 700px;
  }
}
