.main {
  position: relative;
  z-index: 2;
}

.mainBox {
  box-shadow: 10px 5px 15px 5px grey;
  margin-top: -2.5px;
}

.profilePic {
  z-index: 2;
  margin: 5% 43%;
  position: absolute;

  @media (max-width: 700px) {
    display: none;
  }
}

.HoverPics {
  display: flex;
  z-index: 10;

  @media (max-width: 700px) {
    display: none;
  }
}

.HoverVideos {
  position: absolute;
  top: 0;
  display: flex;
  height: 100%;

  @media (max-width: 700px) {
    display: none;
  }
}

.HoverVideoDesigner,
.HoverVideoCoder {
  opacity: 0;
}

.HoverVideoDesigner:hover,
.HoverVideoCoder:hover {
  opacity: 100;
  transition: .5s ease;
}

.HoverPicsM {
  display: none;


  @media (max-width: 700px) {
    display: flex;
    flex-direction: column;
  }
}

.HoverVideosM {
  display: none;
  position: absolute;
  top: 0;

  @media (max-width: 700px) {

    width: 100%;
    display: flex;
    flex-direction: column;
  }

  @media (max-width: 350px) {
    height: 300px;
    display: flex;
    flex-direction: column;
  }
}

.HVideoDesignerM,
.HVideoCoderM {
  opacity: 0;
}

.HVideoDesignerM:hover,
.HVideoCoderM:hover {
  opacity: 100;
  transition: .5s ease;
}

.MprofilePic {
  display: none;

  @media (max-width: 700px) {
    display: flex;
    margin: 37.1% 33%;
    position: absolute;
    z-index: 10;
  }
}