$grey: rgb(215, 215, 215);
$semiwhite: rgb(241, 241, 241);

.mainFooter {
  background-color: $grey;
  position: relative;
  z-index: 2;
}

.gradientWhite {
  height: 100px;
  box-shadow: 0px 5px 5px 0px rgb(185, 185, 185);
  z-index: 2;
  background-color: $semiwhite;
}

.footer {
  height: 100px;
  background-color: $grey;
  margin-top: 30px;

  @media (max-width: 600px) {
    height: 80px;
    margin-top: 10px;
  }

  @media (max-width: 800px) and (min-width: 600px) {
    height: 170px;
    margin-top: 10px;
  }

  .copyright {
    width: 100%;
    text-align: center;
    font-size: 10px;
    margin-top: 25px;
    position: absolute;
  }

  @media (max-width: 800px) and (min-width: 600px) {
    margin-top: 80px;
  }
}
