@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap");
$grey: rgb(128, 128, 128);

.navbar {
    display: flex;
    position: fixed;
    top: 0;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 60px;
    justify-content: center;
    align-items: center;
    transition: all 1000ms;
}

.navbarLinks {
    display: flex;
    color: white;
    font-size: 16px;
    font-family: "Roboto Slab", serif;
    align-items: center;

    a {
        margin: 0 30px;
        text-decoration: none;
        transition: 0.7s ease;

        &:hover,
        &:active {
            color: $grey;
        }
    }
}

.logo {
    transition: 0.7s ease;
    cursor: pointer;

    &:hover {
        opacity: 50%;
    }
}

.hamburger {
    display: none;
}

.dropdown {
    display: none;
}

@media (max-width: 600px) {
    .navbar {
        justify-content: flex-end;
        height: 50px;
    }

    .navbarLinks {
        display: none;
    }

    .hamburger {
        display: flex;
        border: none;
        background: none;
        flex-direction: column;
        cursor: pointer;

        span {
            display: block;
            width: 33px;
            height: 4px;
            margin-bottom: 5px;
            background-color: white;
            border-radius: 6px;
            transform-origin: 0 0;
            transition: 0.4s;
        }
    }

    .dropdown {
        height: 0;
        display: flex;
        flex-direction: column;
        transition: all 500ms;
        width: 100vh;
        background-color: black;
        position: fixed;
        top: 50px;

        a {
            opacity: 0;
            margin: 2.5px 5px;
        }

        &Active {
            height: 15vh;

            a {
                transition: opacity 500ms 500ms;
                opacity: 1;
            }
        }
    }
}
