.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.78);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 4;
}

.vidToggle {
  width: 100vh;
  position: absolute;
  margin: -20%;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.picToggle {
  position: relative;
  width: 50vh;
  margin-top: 5%;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: 1000px) {
    width: 350px;
  }
}

.image {
  top: 0;
  position: absolute;
}

.visibleImage {
  opacity: 100%;
}

.hiddenImage {
  opacity: 0;
}

.crossVidButton {
  display: flex;
  border: none;
  background: none;
  flex-direction: column;
  cursor: pointer;
  position: absolute;
  bottom: 14vh;
  right: 2vh;
  @media (max-height: 350px) {
    bottom: 9vh;
  }

  span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    background-color: white;
    border-radius: 6px;
    transform-origin: 0 0;
    transition: 0.4s;
    border: 1px solid rgb(0, 0, 0);
  }

  &:hover {
    span:nth-child(1) {
      transform: rotate(45deg);
      position: relative;
    }

    span:nth-child(2) {
      transform: rotate(-45deg) translateY(8px) translateX(-12px);
      position: relative;
    }
  }
}

.crossPicButton {
  display: flex;
  border: none;
  background: none;
  flex-direction: column;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1%;

  span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    background-color: white;
    border-radius: 6px;
    transform-origin: 0 0;
    transition: 0.4s;
    border: 1px solid rgb(0, 0, 0);
  }

  &:hover {
    span:nth-child(1) {
      transform: rotate(45deg);
      position: relative;
    }

    span:nth-child(2) {
      transform: rotate(-45deg) translateY(8px) translateX(-12px);
      position: relative;
    }
  }
}

.span {
  margin-top: 300px;
}
