$semiwhite: rgb(241, 241, 241);

body {
    padding: 0;
    background-color: rgb(255, 255, 255);
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
        Helvetica Neue, sans-serif;
    line-height: 1.6;
    font-size: 18px;
}

body {
    // (Navbar height)
    margin: 60px 0 0;
    background-color: $semiwhite;


    @media (max-width: 600px) {
        margin-top: 9%;
    }
}

a {
    text-decoration: none;
    color: white;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}