@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;500&display=swap');

.pageContent {
    background-color: white;
    height: 100vh;
    z-index: 1px;
    margin: 22px 10%;
}

.deckList {
    font-size: 13px;
    position: absolute;
    padding-left: 20px;
    font-family: 'Roboto', sans-serif;

}


.searchCards {
    margin: 60px 42%;
    position: absolute;
}

.mytext {
    width: 350px;
    height: 28px;
}

.vl {
    border-left: 2px solid rgb(203, 203, 203);
    height: 90%;
    left: 50%;
    top: 120px;
    position: absolute;
}